<h1>Welcome to The Dungeon</h1>

<h2>Choose.</h2>
<h5>Are you a <i>player</i> or a <i>dungeon master</i>?</h5>
</br>
<p>
<%= link_to "Player Login", player_login_path%>

<%= link_to "DM Login", dm_login_path%>
</p>