<div class="div-c">
<h1>Welcome to The Dungeon</h1>
<br/><br/>
<h2>Choose.</h2>

<h5>Are you a <i>player</i> or a <i>dungeon master</i>?</h5>
<br/>
<br/>

<div class="button">
<span class="button-content"><%= link_to "Player Login", player_login_path, class: "button-content"%></span>
</div>

<div class="button">
<span class="button-content"><%= link_to "DM Login", dm_login_path%></span>
</div>

</div>