<h1>Your Collection of Active Games:</h1>

<p>
<% @games.each do |game| %>
    <li>
     <%= link_to game.camp_name, dm_game_path(@dm, game)%> Started on: <%= game.date_started%>
    </li>
    <br>
<%end%>
</p>

<%= link_to 'Create a New Game!', new_dm_game_path(@dm)%>
<br/>