<h1>Your Collection of Games:</h1>

<p>
<% @games.each do |game| %>
    <li>
     <%= link_to game.camp_name, dm_game_path(current_dm, game)%> Started on: <%= game.date_started%>
    </li>
    <br>
<%end%>
</p>

<%= link_to 'Create a New Game!', new_dm_game_path(current_dm)%>
<br/>
<%= link_to 'See Your Active Games', active_games_path(current_dm)%>
<br/>