<h1>Your Collection of Characters:</h1>

<p>
<% @characters.each do |character| %>
    <li>
     <%= link_to character.name, characters %>
    </li>
    <br>
<%end%>
</p>

<%= link_to 'Create a new story!', new_character_path%>
<br><br>

<p> Don't smile too much... they will know you are up to something! </p>