<h1>Your Collection of Characters:</h1>

<p>
<% @characters.each do |character| %>
    <li>
     <%= link_to character.name, character%>
    </li>
    <br>
<%end%>
</p>

<%= link_to 'Create a New Character!', new_character_path%>
<br><br>


