<h1>Ah! Welcome Traveller!</h1>
<h5>
Have you been here before?
If you have please enter your username and password, if you are new click the link to sign up!
</h5>


<%= link_to "Need to Signup?", player_signup_path%>