<% if player_logged_in? %>
<ul>
    Hey there <%= current_player.username %>
    <%= link_to "Log out", player_logout_path, method: :delete %>
    <%= link_to "Characters",characters_path%>
    <%= link_to "Games",player_playergames_path(current_player)%>
</ul>
<% end %>

<h6> Don't smile too much... they will know you are up to something! </h6>
